*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.navbar .container{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100px;
}

.navbar ul{
    display:flex;
    gap: 30px;
    padding: 20px;  
}

ul{
    list-style-type: none;
}

.navbar a{
    text-decoration:dotted;
    font-size: 18px;
    color: blue;
}

.navbar  a:hover{
    color: purple;
}

.logo{
    padding-right:  300px;
    padding-bottom: 20;
    padding-top: 0;
    color: orangered;
    font-size: xx-large;
    font-weight: bolder;
    font-style: oblique;
    text-shadow: 2px 2px 4px;
    text-align: center;
}

img{
    max-width: 50%;
    max-height: 50%;
}


.section .container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: 100vh;
    padding: 30px;
}

p{
    margin: 30px;
    font-size: large;
}

.section .item{
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    flex:1 ;
    

    
}

.section .block{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}